:local(.styles) {
  height: 90vh;
  position: relative;

  .section {
    margin-bottom: 80px;

    input {
      margin-top: 20px;
    }
  }

  .spa-ad {
    position: absolute;
    bottom: 20px;
  }

}

:local(.demoModal1Styles) {
  .demo-modal-1 {
    width: 1000px;
  }
}

:local(.demoModal2Styles) {
  .demo-modal-2 {
    width: 1000px;
  }
}

:local(.demoModal3Styles) {
  .demo-modal-3 {
    position: relative;

    input {
      position: relative;
      top: 8px;
    }
    .close {
      position: absolute;
      font-weight: bold;
      right:20px;
      top: 20px;
      cursor: pointer;
      width: 32px;
      height: 32px;
      opacity: 0.3;
    }
    .close:hover {
      opacity: 1;
    }
    .close:before, .close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 20px;
      width: 2px;
      background-color: #333;
    }
    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }
  }
}

:local(.demoModal4Styles) {
  .demo-modal-4{
    input {
      position: relative;
      top: 5px;
    }
  }
}
