:local(.styles) {
  height: 90vh;
  position: relative;

  .spa-ad {
    position: absolute;
    bottom: 20px;
  }

  h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }
}

:local(.demoModal1Styles) {
  .demo-modal-1 {
    width: 1000px;
  }
}

:local(.demoModal2Styles) {

}

:local(.demoModal3Styles) {
  .demo-modal-3 {
    input {
      position: relative;
      top: 8px;
    }
  }
}

:local(.demoModal4Styles) {
  .demo-modal-4{
    input {
      position: relative;
      top: 5px;
    }
  }
}
