/***** <Modal> styles *****/
:local(.modalStyles) {
  .modal-content {
    padding: 10px;
  }
}

/***** <ModalHeader> styles ******/
:local(.modalHeaderStyles) {
  .modal-header {
    border-bottom: none;

    .modal-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 0.6;
      font-family: Arial, sans-serif;
    }
  }
}

/***** <ModalBody> styles ******/
:local(.modalBodyStyles) {
  /* No styles for now */
}

/***** <ModalFooter> styles ******/
:local(.modalFooterStyles) {
  .modal-footer {}

  .cancel-btn {
    text-align: left;
    padding: 7px 0px 0px 0px;
    float: left;
  }

  .custom-modal-footer-actions {
    float: right;
  }
}
